body{
  display: grid; 
  margin: auto; 
  margin-top: calc(50vh - 170px); 
  width: 420px;
  height: 200px; 
}

fieldset{
  border: 2px solid transparent; 
  border-top-color: black; 
  /* box-sizing: border-box;  */
  /* grid-area: 1 / 1;  */
  padding: 20px; 
  /* width: 200px;  */
}

/* .d2{ grid-area: 1 / 2; } */

fieldset:nth-of-type(2){ transform: rotate(90deg); }
fieldset:nth-of-type(3){ transform: rotate(180deg); }
fieldset:nth-of-type(4){ transform: rotate(-90deg); }
fieldset:nth-of-type(6){ transform: rotate(90deg); }
/* fieldset:nth-of-type(7){ transform: rotate(180deg); }
fieldset:nth-of-type(8){ transform: rotate(-90deg); } */

.d2{

}