<div class="form-container">
    <form [formGroup]="formRequired" *ngIf="formRequired">
      <div *ngFor="let field of dataFields">
        <p
          *ngIf="field.FormControlName !== 'EmailOrPhone'"
          class="input-label"
        >
          {{field.AttributeName}}:
        </p>
        <div
          *ngIf="field.FormControlName === 'EmailOrPhone'"
          class="email-or-phone"
        >
          <button
            mat-icon-button
            class="default-mat-styling"
            [class.active]="emailOrPhoneMode === 'phone'"
            (click)="setEmailOrPhoneMode('phone')"
          ><mat-icon>smartphone</mat-icon></button>
          <button
            mat-icon-button
            class="default-mat-styling"
            [class.active]="emailOrPhoneMode === 'email'"
            (click)="setEmailOrPhoneMode('email')"
          ><mat-icon>email</mat-icon></button>
        </div>
  
        <div *ngIf="field.FormControlName === 'PhoneNumber' && formRequired.controls[field.FormControlName]"
             class="form-row">
          <ngx-intl-tel-input class="ngx-intl-tel-input"
            [class.validation-error]="formRequired.controls[field.FormControlName].invalid && (formRequired.controls[field.FormControlName].touched)"
            [class.valid-input]="formRequired.controls[field.FormControlName].valid && (formRequired.controls[field.FormControlName].touched && formRequired.controls[field.FormControlName].value)"
            [cssClass]="'custom'" [preferredCountries]=preferredCountries [enableAutoCountrySelect]="false"
            [enablePlaceholder]="true" [searchCountryFlag]="false"
            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
            [selectedCountryISO]=selectedCountry [phoneValidation]="true" [separateDialCode]=separateDialCode
            formControlName="{{field.FormControlName}}">
          </ngx-intl-tel-input>
        </div>
        <div class="form-row" *ngIf="field.FormControlName === 'Age'"
          [class.validation-error]="formRequired.controls[field.FormControlName].invalid && formRequired.controls[field.FormControlName].touched"
          [class.valid-input]="formRequired.controls[field.FormControlName].valid && formRequired.controls[field.FormControlName].touched && formRequired.controls[field.FormControlName].value">
          <input class="form-control-inner" id="last-name" type="number" min="13" max="100"
            formControlName="{{field.FormControlName}}"
            [required]="field.IsRequired">
        </div>
        <!-- Location does not have real validator right now - because the google autocomplete does not update the actual form value -->
        <!-- '[class.validation-error]="formRequired.controls[field.FormControlName].invalid && formRequired.controls[field.FormControlName].touched"
                [class.valid-input]="formRequired.controls[field.FormControlName].valid && formRequired.controls[field.FormControlName].touched">' -->
        <div *ngIf="field.FormControlName === 'Location'" class="form-row"
          [class.validation-error]="formRequired.controls[field.FormControlName].touched"
          [class.valid-input]="formRequired.controls[field.FormControlName].touched">
  
          <input class="form-control-inner" id="location" type="text"
            [required]="field.IsRequired" size="50">
        </div>
        <div *ngIf="field.FormControlName === 'MailingAddress'">
          <div class="form-row" [class.validation-error]="formRequired.controls[field.FormControlName].invalid && formRequired.controls[field.FormControlName].touched"
            [class.valid-input]="formRequired.controls[field.FormControlName].valid && formRequired.controls[field.FormControlName].touched">
  
            <input class="form-control-inner" id="mailingAddress" type="text"
              [required]="field.IsRequired" size="50" formControlName="MailingAddress">
          </div>
          <div
          class="form-row">
          <!-- Note: Apt/Unit # is always optional (a mailing address may not have one)-->
          <input id="mailingAddressAptNum" type="text" formControlName="MailingAddressAptNum"
            [required]="false">
        </div>
        </div>
        <div *ngIf="field.FormControlName === 'EmailOrPhone'" class="form-row">
          <ngx-intl-tel-input
            *ngIf="emailOrPhoneMode === 'phone'"
            class="ngx-intl-tel-input"
            [class.validation-error]="formRequired.controls['PhoneNumber'].invalid && (formRequired.controls['PhoneNumber'].touched)"
            [class.valid-input]="formRequired.controls['PhoneNumber'].valid && (formRequired.controls['PhoneNumber'].touched && formRequired.controls['PhoneNumber'].value)"
            [cssClass]="'custom'" [preferredCountries]=preferredCountries [enableAutoCountrySelect]="false"
            [enablePlaceholder]="true" [searchCountryFlag]="false"
            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
            [selectedCountryISO]=selectedCountry [phoneValidation]="true" [separateDialCode]=separateDialCode
            formControlName="PhoneNumber">
          </ngx-intl-tel-input>
          <div
            *ngIf="emailOrPhoneMode === 'email'"
            class="form-row"
            [class.validation-error]="formRequired.controls['EmailAddress'].invalid && formRequired.controls['EmailAddress'].touched"
            [class.valid-input]="formRequired.controls['EmailAddress'].valid && formRequired.controls['EmailAddress'].touched && formRequired.controls['EmailAddress'].value">
            <input id="last-name" type="text" formControlName="EmailAddress"
              [required]="true"
              placeholder="E-mail Address">
          </div>
        </div>
        <div
          *ngIf="field.FormControlName != 'PhoneNumber' && field.FormControlName != 'EmailOrPhone' && field.FormControlName != 'Age' && field.FormControlName != 'Location' && field.FormControlName != 'MailingAddress' && formRequired.controls[field.FormControlName]"
          class="form-row"
          [class.validation-error]="formRequired.controls[field.FormControlName].invalid && formRequired.controls[field.FormControlName].touched"
          [class.valid-input]="formRequired.controls[field.FormControlName].valid && formRequired.controls[field.FormControlName].touched && formRequired.controls[field.FormControlName].value">
          <input id="last-name" type="text" formControlName="{{field.FormControlName}}"
             [required]="field.IsRequired">
        </div>
      </div>
      <div class="form-footer" *ngIf="inpTemplateCode === 'dc003'">
        <p class="m-0" [ngStyle]="{'color': formBoxStyles?.textColor}">
          <!--<input class="policy-textbox" type="checkbox" #TermsAndConditionsCheckBox
          (click)="accepctTermsConditions(TermsAndConditionsCheckBox)" id="terms" name="terms">-->
          By submitting my information, I agree to receive recurrent messages
          to the contact information provided and to FanPad's
          <a [ngStyle]="{'color': formBoxStyles?.textColor}" href="/terms-and-conditions.html" class="underline" target="_blank">terms & conditions</a>,&nbsp;
          <a [ngStyle]="{'color': formBoxStyles?.textColor}" href="/privacy-policy.html" class="underline" target="_blank">privacy policy</a>, and&nbsp;
          <a [ngStyle]="{'color': formBoxStyles?.textColor}" href="/cookie-policy.html" class="underline" target="_blank">cookie policy</a>.
          <a class="cursor-pointer" data-bs-toggle="modal" *ngIf="isOnEditMode && !hideInlineEdit"
             data-bs-target="#myModal8" style=" vertical-align: middle;"><i class="fa-solid fa-pen-to-square"></i></a>
        </p>
      </div>
      <div class="form-footer" *ngIf="inpTemplateCode !== 'dc003'">
        <p class="m-0" appAddFormBoxStyles
               [formBoxStyles]="formBoxStyles">
          <!--<input class="policy-textbox" type="checkbox" #TermsAndConditionsCheckBox
            (click)="accepctTermsConditions(TermsAndConditionsCheckBox)" id="terms" name="terms">-->
          By submitting my information, I agree to receive recurrent messages
          to the contact information provided and to FanPad's
            <a appAddFormBoxStyles
               [formBoxStyles]="formBoxStyles" href="/terms-and-conditions.html" class="underline" target="_blank">terms & conditions</a>,&nbsp;
            <a appAddFormBoxStyles
               [formBoxStyles]="formBoxStyles" href="/privacy-policy.html" class="underline" target="_blank">privacy policy</a>, and&nbsp;
            <a appAddFormBoxStyles
               [formBoxStyles]="formBoxStyles" href="/cookie-policy.html" class="underline" target="_blank">cookie policy</a>.
            <a class="cursor-pointer" data-bs-toggle="modal"  *ngIf="isOnEditMode && !hideInlineEdit"
                 data-bs-target="#myModal8" style=" vertical-align: middle;"><i class="fa-solid fa-pen-to-square"></i></a>
        </p>
      </div>
      <div class="form-row d-flex">
        <!-- TODO: Add routerLink="/uppbeat/content" back to line below -->
        <button type="button" [disabled]="(formRequired.invalid || isFormBeingSubmitted)"
          (click)="onSubmit()" class="submit-button" appAddFormBoxStyles [submitButtonStyles]="submitButtonStyles">
          {{isFormBeingSubmitted?'Submitting...': submitButtonText}}
        </button> <a *ngIf="isOnEditMode && !hideInlineEdit" class="ml-2 m-auto cursor-pointer" data-bs-toggle="modal"
          data-bs-target="#myModal7"><i class="fa-solid fa-pen-to-square"></i></a>
      </div>
  
      <!--<div class="col-12 d-flex">
      <input class="policy-textbox" type="checkbox" id="terms" name="terms" value="terms">
      <label class="terms" for="terms"> I agree to terms and condition</label><br>
    </div>-->
    </form>
  </div>
  