body{
    display: grid; 
    margin: auto; 
    margin-top: 200px;
    /* margin-top: calc(50vh - 170px);  */
    width: 420px;
    height: 200px; 
  }

  fieldset{
    border: 2px solid transparent; 
    border-top-color: black; 
    /* box-sizing: border-box;  */
    /* grid-area: 1 / 1;  */
    /* padding: 20px;  */
    /* width: 200px;  */
    
  }

  legend{
    transform: rotate(180deg);
  }
  fieldset:nth-of-type(1){ transform: rotate(180deg); }