*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
  background-color: rgb(8, 120, 148);
}

body p{
  color: rgb(255, 255, 255);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.wrapper{
  display: flex;
  justify-content: center;
  text-align: center;
  /* border: 1px solid white; */
  padding: 5px;
  margin: 2px 45%;
}

.pin{
  /* border: 1px solid white */
  margin-top:5px;
}
.pin h1{
  padding-top: 10px;
  color:rgb(255, 255, 255);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pin_1{
  margin-top: 20px;
  margin-left: 5px;
  /* background-color: rgb(255, 255, 255); */
}

.pin_1 h1{
  background-color: white;
  /* border: 1px solid white; */
  border-radius: 12%;
  font-size: 25px;
  padding: 0  2px ;
  color: rgb(8, 120, 148);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

p{
  /* padding-top: 2px; */
  font-size: 28px;
  color: rgb(254, 255, 255);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 

}

.container{
  /* border: 1px solid rgb(4, 211, 55); */
  /* background-color: rgb(225, 228, 231); */
  margin: 20px 36%;
  text-align: left;
}

.jar{
  background-color: rgb(225, 228, 231);
  padding: 16px 37px;
}
/* .jar{
  border: 1px solid red;
} */

.jar label{
  color: rgb(101, 102, 104);
  font-size: 13px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* padding: 15px 15px; */
}

.jar input{
  padding: 6px 68px ;
  /* margin-top: 20px; */
  border: 1px solid rgb(223, 214, 214);
  border-radius: 3px;
}

.box-2{
  padding-top: 10px;
}

.box-3{
  padding-top: 10px;
}

.box-4{
  padding-top: 10px;
}

.box-5{
  padding-top: 10px;
  padding-right: 7px;
}
.box-5 p{
  color: rgb(101, 102, 104);
  font-size: 12px;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box-5 span{
  color:black;
}

.box-6{
  padding-top: 10px;
  padding-bottom: 15px;
}
.box-6 button{
  padding: 8px 41.4%;
  background-color: rgb(10, 111, 158);
  border: none;
  font-weight:bold;
  font-size: 11.9px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
}

/* .or{
  position: absolute;
  border-top: 1px solid black;
  margin: -10px 2px;
  width: 22%
} */

hr{
  margin: 5px 1px;
  width: 100%;
  border-color: rgb(187, 194, 209);
}
.or{
  color: rgb(147, 147, 148);
  background: rgb(225, 228, 231);
  width: 15px;
  margin: -17px auto 15px;
}

.box-7 {
  padding: 2px 5px;
  display: flex;
  background-color: rgb(56, 73, 148);
  border-radius: 3px;
}

.box-7 img{
  height: 29px;
}

.box-7 a{
  font-size: 16px;
  padding: 2px 49px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.box-8{
  margin-top: 8px;
}
.box-8 p{
  color: black;
  font-size: 16px;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box-8 a{
  text-decoration: none;
  color: rgb(11, 108, 173);
}

.tin p{
  color: rgb(241, 247, 247);
  font-size: 15px;
  text-align: center;
  /* padding-top: 8px; */

}

