*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container_1{
    display: flex;
    /* display: inline; */
    background-color: rgb(238, 157, 59);
    
}

.container_1 h1{
    color: aquamarine;
    padding: 10px 10px;
    margin: 10px 10px;
}

.container_1 ul{
    list-style-type: none;
    margin-top: 30px;
    margin-left: 30%;
}

.container_1 li a{
    color:azure ;
    text-decoration: none;
    padding-left: 25px;
   
}

.container_1 li{
    display: inline;
    
}

.container_1 button{
    margin: 20px 50px ;
    padding: 10px 10px;
    border-radius: 50px;
}