*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(4, 22, 126);
    
}

header{
    background-color: rgb(24, 94, 155);
    color: antiquewhite;
    align-items: center;

}

h2{
    padding: 2px 20px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    
}

.menu{
    display: flex;
    /* display: block; */
    /* align-items: center; */
    justify-content: space-between; 
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

ul li {
    padding: 10px 9px;
    margin-top: 15px;
    /* float: right; */
}

/* Navbar links styling */
ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
    text-transform: uppercase;
    /* padding-left: 20px; */
    /* padding-top: 80px; */
}

ul li a:hover {
    color: rgb(173, 165, 248);;
}

.box{
    display: flex;
    gap: 20px;
    padding: 4px 90px
    
}

button{
   
    background-color: rgb(117, 111, 237);
    color: aliceblue;
    margin: 10px 2px;
    padding: 2px 15px;
    border-radius: 20px;
    border: 1px solid white;
}

button:hover{
    background-color: rgb(68, 1, 131);
    color: rgb(193, 140, 242);
}

img{
    border: 1px solid black;
    padding: 10px 15px;
    margin: 8px 8px;
    border-radius: 10%;
    float: right;
} 

img:hover{
    background-color: rgb(173, 165, 248);
    color: bisque;
}