*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu p{
    color: rgb(13, 95, 218);
    font-weight: 600;
    font-family: sans-serif;

}

.menubar ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menubar li a{
    display: block;
    text-decoration: none;
    padding: 10px 20px;

}