*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(
    ./assets/1.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
}
nav{
    display: flex;
    /* border: 1px solid #f1d100; */
}

nav h1{
    color: rgb(255, 94, 0);
    font-size: 30px;
    padding-left: 6%;
    margin-top: 18px;
    margin-right: 3%;
    width: 15%;
}

nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-family:sans-serif;
    padding-left: 6%;
    margin-top: 30px;
    font-size: 14px;
}

nav a:hover{
    color: rgb(235, 90, 33);
}

.co-box {
    margin-left: 6%;
    margin-top: 19px;
}

.co-box input{
    /* width: 10px; */
    border: 1px solid rgb(236, 91, 34);
    padding: 7px;
    /* border-radius: 2px; */
    /* border-radius: 10px; */
}


.b1 input {
    background: transparent;
    color: white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.b1 button{
    position: absolute;
    background-color: rgb(224, 74, 15);
    color: white;
    border: none;
    padding: 8px;
    padding-inline: 20px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* .b2 {

    padding-left: 100%;
    margin-top: -17%;
}

.b2 input {
    background-color: rgb(224, 74, 15);
    color: white;
    padding-inline: 20px;
} */


.container{
    /* border: 1px solid rgb(255, 72, 0); */
    width: 100%;
    padding: 8%;
    display: flex;
    /* gap: 70%; */

}

.wrapper-1{
    width: 90%;
    /* border: 1px solid rgb(31, 112, 20); */
}

.box{
    width: 60%;
    
}
.box h1{
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.box span{
 color: rgb(248, 86, 22);
}

.wrapper-1 p{
    padding-top: 7px;
    color: rgb(255, 255, 255);
    font-family:sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 20px;
}

.wrapper-1 button{
    padding: 8px 7%;
    margin-top: 15px;
    color: rgb(0, 0, 0);
    background-color: rgb(248, 86, 22);
    border-radius: 8px;
    border: none;
    text-transform: uppercase;
}

.container .wrapper-2{
    margin-left: 25%;
    height: 53vh;
    text-align: center;
    border-radius: 10px;
}

.wrapper-2{
    width: 30%;
    background: linear-gradient(to top, rgb(0,0,0,0.8) 50%, rgb(0,0,0,0.8) 50%);
    color: azure;
    
}

.wrapper-2 h2{
    color: rgb(248, 103, 35);
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 20px 20px;
    padding: 5px 5px;
    font-family: sans-serif;
    font-size: 20px;

}

.wrapper-2 input{
    margin: 8px 20px;
    padding: 8px;
    padding-right: 20px ;
    border-radius: 5px;
    background: linear-gradient(to top, rgb(0,0,0,0.8) 50%, rgb(0,0,0,0.8) 50%);
    color: white;
    border: none;
    border-bottom: 1px solid rgb(255, 102, 0);
}

::placeholder{
    color:rgb(248, 246, 246)
}

.wrapper-2 button{
    margin: 4px 23px;
    padding: 7px 33%;
    border-radius: 8px;
    border: none;
    background-color: rgb(245, 90, 34);
    font-weight: bold;
}

.wrapper-2 p{
    padding-top: 10px;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 16px;
    /* letter-spacing: 1px; */
}

.wrapper-2 a{
    color: rgb(245, 80, 20);
    text-decoration: none;
    font-family: sans-serif;
    /* word-spacing: 20px; */

}

.icon-bar{
    margin-top: 10px;
}

.icon-bar i{
    width: 15%;
    font-size: 25px;
    color: white;
}

.icon-bar i:hover{
    color: rgb(248, 95, 24);
}
